/* quizcategory1.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600;700&family=Raleway:wght@500;700&display=swap');
/* Styles for the container */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url('./pexels-fwstudio-33348-129731.jpg');
  background-size: cover; /* Make sure the image covers the full viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  max-width: 100vw;
}
.qq{
  padding-top: 40px;
}
/* Styles for the heading */
.quiz-container h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for each category container */
.category-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 300px;
  text-align: center;
  position: relative; /* Add relative positioning for pseudo-elements */
  overflow: hidden; /* Hide overflow for gradient */
}

.category-container:hover {
  transform: translateY(-5px);
}

/* Styles for category link */
.category-link {
  text-decoration: none;
  display: block;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.category-link:hover {
  color: #ff6b6b;
}

.category-link h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

/* Style for category container background gradient */
.category-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #b46435, #ffafbd);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform: scale(2);
}

.category-container:hover::before {
  transform: scale(2.5);
}
h1{
  font-family: 'Lobster', cursive;
  font-size: 100px;
}