body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.signup-page {
  display: flex;
  width: 100%;
  height: 100vh; /* Ensure it takes the full viewport height */
  background: url('../public/image.jpg') no-repeat center center fixed; /* Main background image */
  background-size: cover;
  position: relative;
}

.signup-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: white overlay for contrast */
}

.signup-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(0.8); /* Optional: Slightly darken the image for contrast */
}

.signup-container, .signup-success {
  flex: 1;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Center text inside the container */
}

.signup-success {
  color: green;
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-align: left; /* Align labels to the left */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.log_but {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.log_but:hover {
  background-color: #343232;
}

.error-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center; /* Center text in the error message */
}
