/* General Container Styles */
.topic-container {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-image: url('./categorybk.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  backdrop-filter: blur(10px);
}

.topic {
  background-image: url('./categorybk.jpg');
  background-size: cover;
  width: 100%;
}

/* Header Styles */
.topic-header {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

/* Question Styles */
.question {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.question.finished {
  background-color: rgba(249, 249, 249, 0.8);
}

.question h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #555;
}

/* Options Styles */
.options {
  list-style: none;
  padding: 0;
}

.options li {
  background-color: rgba(244, 244, 249, 0.8);
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.options li:hover {
  background-color: rgba(224, 224, 224, 0.8);
  transform: scale(1.02);
}

.options li.selected {
  background-color: rgba(204, 231, 255, 0.8);
  border-color: #80bfff;
}

.options li.correct {
  background-color: rgba(76, 175, 80, 0.8); /* Green for correct */
  border-color: #4caf50;
}

.options li.incorrect {
  background-color: rgba(244, 67, 54, 0.8); /* Red for incorrect */
  border-color: #f44336;
}

/* Finish Button Styles */
.finish-button-container {
  text-align: center;
  margin-top: 30px;
}

.finish-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 40px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.finish-button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.lives-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.heart {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
